:host {
  display: block;
  border: 1px solid rgba(204, 204, 204, .6);
  padding: 1rem 2.5rem;
  border-radius: 0.5rem;
  margin: 1rem 0;
}

.weather-card {
  &__temperature {
    display: flex;
    justify-content: space-between;

    .day {
      align-items: center;
      display: flex;

      h4 {
        margin: 0 1rem 0 0;
      }

      img {
        height: 1.5rem;
      }
    }
  }

  &__additional-info {
    text-align: center;

    strong {
      font-size: .725rem;
      color: var(--ion-color-medium);
    }

    p {
      margin-top: .5rem;
      margin-bottom: 0;
      color: var(--ion-color-medium);
    }
  }
}
