.weather-detail {
  &__header {
    --border-width: 0 !important;
    padding: 1rem;
    display: flex;
    justify-content: center;

    .close-outline {
      font-size: 1.5rem;
      color: var(--ion-color-danger);
    }
  }

  &__title {
    text-align: center;
    margin: 0;
  }
}
