/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.button {
  --box-shadow: none;
  height: 40px;
}

.ion-fab-button {
  --box-shadow: none;
}

.weather__footer {
  --border-width: 0 !important;
}

.header-ios {
  --border-weight: 0 !important;
}

.header-md {
  &::after {
    background-image: none;
  }
}

.detail__city-conditions {
  .modal-wrapper {
    height: 80%;
    border-radius: 2rem 2rem 0 0;
  }

  &.sc-ion-modal-ios-h, &.sc-ion-modal-md-h {
    align-items: flex-end !important;
  }
}

.custom-toast {
  text-align: center;

  &.info {
    color: white;
    --background: var(--ion-color-medium);
  }

  &.error {
    color: white;
    --background: var(--ion-color-danger);
  }

  &.success {
    color: white;
    --background: var(--ion-color-secondary);
  }
}

.fade-in {
  animation: fade-in .2s;
}

.page {
  &__title {
    padding: 0 1rem;
  }

  &__content-padding {
    --padding-end: 2rem;
    --padding-start: 2rem;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
